
.tabuleiro{

    width: 408px;
    height: 408px;
    float: left;
    background-color: bisque;

}


.bloco{

    width: 128px;
    height: 128px;
    border: 2px solid ;
    border-color: black;
    text-align: left ;
    padding: 2px;
    float: left;
    cursor: pointer;
}

.icone{
    width: 124px;
    height: 124px;
}